:root {
  --title-font: cormorant unicase;
  --paragraph-font: cormorant garamond;
}

body {
  background: #141e17;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 9px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../images/lough-lane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: var(--title-font);
  padding: 50px 15px;
}

header h3 {
  font-weight: 750;
  font-size: 45px;
  line-height: 1;
  margin: 0;
}

header h1 {
  font-weight: 850;
  font-size: 82px;
  line-height: 1;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.25;
  margin: 0;
}

header a {
  font-family: var(--paragraph-font);
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
  border: 3px solid black;
  background: white;
  text-align: center;
  color: black;
  padding: 11px 11px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 9px;
}

footer {
  color: white;
  font-family: var(--paragraph-font);
  background-image: linear-gradient(rgba(4, 74, 74, 0.6), rgba(4, 74, 74, 0.6)),
    url("../images/torc-fall\ stream.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 15px;
}
footer h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.8;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: lightgreen;
  opacity: 0.7;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 900px) {
  header h3 {
    font-size: 30px;
  }
  header h1 {
    font-size: 67px;
  }

  header h2 {
    font-size: 27px;
  }
}
@media (max-width: 570px) {
  header h3 {
    font-size: 23px;
  }
  header h1 {
    font-size: 43px;
    line-height: 1.3;
  }

  header h2 {
    font-size: 20px;
  }
}
